# Unit file for kradio
[Unit]
Description=KRadio
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/kradio/raspiradio/prog/radio.py

[Install]
WantedBy=multi-user.target
